/* line 2, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/rainbow-classes.scss */
.background-alpha-0 {
  background-color: #a78874;
}

/* line 5, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/rainbow-classes.scss */
.color-alpha-0 {
  color: #a78874;
}

/* line 8, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/rainbow-classes.scss */
.background-alpha-1 {
  background-color: #f6e4d8;
}

/* line 11, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/rainbow-classes.scss */
.color-alpha-0 {
  color: #f6e4d8;
}

/* line 14, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/rainbow-classes.scss */
.background-alpha-2 {
  background-color: #cab09e;
}

/* line 17, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/rainbow-classes.scss */
.color-alpha-0 {
  color: #cab09e;
}

/* line 20, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/rainbow-classes.scss */
.background-alpha-3 {
  background-color: #836551;
}

/* line 23, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/rainbow-classes.scss */
.color-alpha-0 {
  color: #836551;
}

/* line 26, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/rainbow-classes.scss */
.background-alpha-4 {
  background-color: #67452e;
}

/* line 29, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/rainbow-classes.scss */
.color-alpha-0 {
  color: #67452e;
}

/* line 32, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/rainbow-classes.scss */
.background-beta-0 {
  background-color: #a77474;
}

/* line 35, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/rainbow-classes.scss */
.color-alpha-0 {
  color: #a77474;
}

/* line 38, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/rainbow-classes.scss */
.background-beta-1 {
  background-color: #f6d8d8;
}

/* line 41, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/rainbow-classes.scss */
.color-alpha-0 {
  color: #f6d8d8;
}

/* line 44, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/rainbow-classes.scss */
.background-beta-2 {
  background-color: #ca9e9e;
}

/* line 47, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/rainbow-classes.scss */
.color-alpha-0 {
  color: #ca9e9e;
}

/* line 50, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/rainbow-classes.scss */
.background-beta-3 {
  background-color: #835151;
}

/* line 53, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/rainbow-classes.scss */
.color-alpha-0 {
  color: #835151;
}

/* line 56, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/rainbow-classes.scss */
.background-beta-4 {
  background-color: #672e2e;
}

/* line 59, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/rainbow-classes.scss */
.color-alpha-0 {
  color: #672e2e;
}

/* line 62, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/rainbow-classes.scss */
.background-gamma-0 {
  background-color: #8b6075;
}

/* line 65, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/rainbow-classes.scss */
.color-alpha-0 {
  color: #8b6075;
}

/* line 68, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/rainbow-classes.scss */
.background-gamma-1 {
  background-color: #cdb4c0;
}

/* line 71, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/rainbow-classes.scss */
.color-alpha-0 {
  color: #cdb4c0;
}

/* line 74, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/rainbow-classes.scss */
.background-gamma-2 {
  background-color: #a88495;
}

/* line 77, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/rainbow-classes.scss */
.color-alpha-0 {
  color: #a88495;
}

/* line 80, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/rainbow-classes.scss */
.background-gamma-3 {
  background-color: #6d4457;
}

/* line 83, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/rainbow-classes.scss */
.color-alpha-0 {
  color: #6d4457;
}

/* line 86, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/rainbow-classes.scss */
.background-gamma-4 {
  background-color: #56263d;
}

/* line 89, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/rainbow-classes.scss */
.color-alpha-0 {
  color: #56263d;
}

/* line 92, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/rainbow-classes.scss */
.background-delta-0 {
  background-color: #634f70;
}

/* line 95, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/rainbow-classes.scss */
.color-alpha-0 {
  color: #634f70;
}

/* line 98, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/rainbow-classes.scss */
.background-delta-1 {
  background-color: #9d91a4;
}

/* line 101, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/rainbow-classes.scss */
.color-alpha-0 {
  color: #9d91a4;
}

/* line 104, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/rainbow-classes.scss */
.background-delta-2 {
  background-color: #7c6c87;
}

/* line 107, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/rainbow-classes.scss */
.color-alpha-0 {
  color: #7c6c87;
}

/* line 110, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/rainbow-classes.scss */
.background-delta-3 {
  background-color: #4b3858;
}

/* line 113, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/rainbow-classes.scss */
.color-alpha-0 {
  color: #4b3858;
}

/* line 116, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/rainbow-classes.scss */
.background-delta-4 {
  background-color: #372145;
}

/* line 119, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/rainbow-classes.scss */
.color-alpha-0 {
  color: #372145;
}

/* line 122, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/rainbow-classes.scss */
.background-epsilon-0 {
  background-color: #555774;
}

/* line 125, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/rainbow-classes.scss */
.color-alpha-0 {
  color: #555774;
}

/* line 128, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/rainbow-classes.scss */
.background-epsilon-1 {
  background-color: #999aab;
}

/* line 131, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/rainbow-classes.scss */
.color-alpha-0 {
  color: #999aab;
}

/* line 134, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/rainbow-classes.scss */
.background-epsilon-2 {
  background-color: #72748c;
}

/* line 137, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/rainbow-classes.scss */
.color-alpha-0 {
  color: #72748c;
}

/* line 140, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/rainbow-classes.scss */
.background-epsilon-3 {
  background-color: #3d3f5b;
}

/* line 143, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/rainbow-classes.scss */
.color-alpha-0 {
  color: #3d3f5b;
}

/* line 146, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/rainbow-classes.scss */
.background-epsilon-4 {
  background-color: #262747;
}

/* line 149, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/rainbow-classes.scss */
.color-alpha-0 {
  color: #262747;
}

/* line 152, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/rainbow-classes.scss */
.background-zeta-0 {
  background-color: #486864;
}

/* line 155, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/rainbow-classes.scss */
.color-alpha-0 {
  color: #486864;
}

/* line 158, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/rainbow-classes.scss */
.background-zeta-1 {
  background-color: #869997;
}

/* line 161, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/rainbow-classes.scss */
.color-alpha-0 {
  color: #869997;
}

/* line 164, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/rainbow-classes.scss */
.background-zeta-2 {
  background-color: #627d7a;
}

/* line 167, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/rainbow-classes.scss */
.color-alpha-0 {
  color: #627d7a;
}

/* line 170, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/rainbow-classes.scss */
.background-zeta-3 {
  background-color: #32514e;
}

/* line 173, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/rainbow-classes.scss */
.color-alpha-0 {
  color: #32514e;
}

/* line 176, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/rainbow-classes.scss */
.background-zeta-4 {
  background-color: #1d403c;
}

/* line 179, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/rainbow-classes.scss */
.color-alpha-0 {
  color: #1d403c;
}

/* line 182, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/rainbow-classes.scss */
.background-eta-0 {
  background-color: #708f63;
}

/* line 185, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/rainbow-classes.scss */
.color-alpha-0 {
  color: #708f63;
}

/* line 188, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/rainbow-classes.scss */
.background-eta-1 {
  background-color: #c1d3b9;
}

/* line 191, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/rainbow-classes.scss */
.color-alpha-0 {
  color: #c1d3b9;
}

/* line 194, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/rainbow-classes.scss */
.background-eta-2 {
  background-color: #93ad88;
}

/* line 197, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/rainbow-classes.scss */
.color-alpha-0 {
  color: #93ad88;
}

/* line 200, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/rainbow-classes.scss */
.background-eta-3 {
  background-color: #527146;
}

/* line 203, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/rainbow-classes.scss */
.color-alpha-0 {
  color: #527146;
}

/* line 206, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/rainbow-classes.scss */
.background-eta-4 {
  background-color: #365827;
}

/* line 209, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/rainbow-classes.scss */
.color-alpha-0 {
  color: #365827;
}

/* line 212, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/rainbow-classes.scss */
.background-theta-0 {
  background-color: #929e6e;
}

/* line 215, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/rainbow-classes.scss */
.color-alpha-0 {
  color: #929e6e;
}

/* line 218, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/rainbow-classes.scss */
.background-theta-1 {
  background-color: #e2e9cd;
}

/* line 221, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/rainbow-classes.scss */
.color-alpha-0 {
  color: #e2e9cd;
}

/* line 224, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/rainbow-classes.scss */
.background-theta-2 {
  background-color: #b5bf96;
}

/* line 227, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/rainbow-classes.scss */
.color-alpha-0 {
  color: #b5bf96;
}

/* line 230, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/rainbow-classes.scss */
.background-theta-3 {
  background-color: #707c4d;
}

/* line 233, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/rainbow-classes.scss */
.color-alpha-0 {
  color: #707c4d;
}

/* line 236, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/rainbow-classes.scss */
.background-theta-4 {
  background-color: #54612c;
}

/* line 239, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/rainbow-classes.scss */
.color-alpha-0 {
  color: #54612c;
}

/* line 242, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/rainbow-classes.scss */
.background-iota-0 {
  background-color: #a7a574;
}

/* line 245, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/rainbow-classes.scss */
.color-alpha-0 {
  color: #a7a574;
}

/* line 248, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/rainbow-classes.scss */
.background-iota-1 {
  background-color: #f6f4d8;
}

/* line 251, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/rainbow-classes.scss */
.color-alpha-0 {
  color: #f6f4d8;
}

/* line 254, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/rainbow-classes.scss */
.background-iota-2 {
  background-color: #cac89e;
}

/* line 257, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/rainbow-classes.scss */
.color-alpha-0 {
  color: #cac89e;
}

/* line 260, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/rainbow-classes.scss */
.background-iota-3 {
  background-color: #838151;
}

/* line 263, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/rainbow-classes.scss */
.color-alpha-0 {
  color: #838151;
}

/* line 266, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/rainbow-classes.scss */
.background-iota-4 {
  background-color: #67652e;
}

/* line 269, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/rainbow-classes.scss */
.color-alpha-0 {
  color: #67652e;
}

/* line 41, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/mixin.scss */
.alt0 {
  position: absolute;
  left: 0;
  top: 0;
}

/* line 45, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/mixin.scss */
.center-shift, #wrap {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

/* line 7, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/style-home.scss */
#wrap {
  width: 710px;
  height: 710px;
}
/* line 10, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/style-home.scss */
#wrap .dot {
  pointer-events: none;
  width: 350px;
  height: 350px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  font-size: 48px;
  text-align: center;
  color: rgba(0, 0, 0, 0.54);
  -webkit-transition: all 0.75s cubic-bezier(0, 0, 0.38, 1);
  transition: all 0.75s cubic-bezier(0, 0, 0.38, 1);
}
/* line 25, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/style-home.scss */
#wrap .dot #svglogo {
  position: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 350px;
  height: 350px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: all 1.5s cubic-bezier(0.18, 0.94, 0.26, 0.99);
  transition: all 1.5s cubic-bezier(0.18, 0.94, 0.26, 0.99);
}
/* line 33, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/style-home.scss */
#wrap .dot #svglogo .circle {
  pointer-events: visible;
  fill: rgba(0, 0, 0, 0.6);
  stroke: #ffffff;
  stroke-width: 3;
}
/* line 39, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/style-home.scss */
#wrap .dot #svglogo .ow {
  pointer-events: visible;
  fill: none;
  stroke: #ffffff;
  stroke-width: 3;
}
/* line 46, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/style-home.scss */
#wrap .dot .title {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 125px;
  left: 125px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 20px;
  text-align: center;
  line-height: 100px;
  -webkit-transition: all 0.75s cubic-bezier(0, 0, 0.38, 1);
  transition: all 0.75s cubic-bezier(0, 0, 0.38, 1);
}
/* line 59, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/style-home.scss */
#wrap .dot:hover .title {
  color: black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: white;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.7);
}
/* line 66, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/style-home.scss */
#wrap .toolchest {
  border: 0px solid transparent;
  position: absolute;
  left: 0;
  top: 0;
  width: 710px;
  height: 710px;
}
/* line 72, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/style-home.scss */
#wrap .toolchest .tool {
  position: absolute;
  left: 0;
  top: 0;
  width: 710px;
  height: 710px;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}
/* line 78, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/style-home.scss */
#wrap .toolchest .tool p {
  position: absolute;
  left: 305px;
  top: 120px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
  line-height: 100px;
  background-color: rgba(221, 221, 221, 0.7);
  color: black;
  -webkit-transition: all 0.75s cubic-bezier(0, 0.62, 0.38, 1);
  transition: all 0.75s cubic-bezier(0, 0.62, 0.38, 1);
  opacity: 0;
}
/* line 90, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/style-home.scss */
#wrap .toolchest .tool p span {
  display: block;
}
/* line 93, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/style-home.scss */
#wrap .toolchest .tool p::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgba(221, 221, 221, 0.7) transparent transparent transparent;
}
/* line 105, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/style-home.scss */
#wrap .toolchest .tool:nth-child(1) {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}
/* line 107, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/style-home.scss */
#wrap .toolchest .tool:nth-child(1) p span {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}
/* line 105, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/style-home.scss */
#wrap .toolchest .tool:nth-child(2) {
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}
/* line 107, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/style-home.scss */
#wrap .toolchest .tool:nth-child(2) p span {
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
}
/* line 105, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/style-home.scss */
#wrap .toolchest .tool:nth-child(3) {
  -webkit-transform: rotate(80deg);
          transform: rotate(80deg);
}
/* line 107, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/style-home.scss */
#wrap .toolchest .tool:nth-child(3) p span {
  -webkit-transform: rotate(-80deg);
          transform: rotate(-80deg);
}
/* line 105, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/style-home.scss */
#wrap .toolchest .tool:nth-child(4) {
  -webkit-transform: rotate(120deg);
          transform: rotate(120deg);
}
/* line 107, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/style-home.scss */
#wrap .toolchest .tool:nth-child(4) p span {
  -webkit-transform: rotate(-120deg);
          transform: rotate(-120deg);
}
/* line 105, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/style-home.scss */
#wrap .toolchest .tool:nth-child(5) {
  -webkit-transform: rotate(160deg);
          transform: rotate(160deg);
}
/* line 107, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/style-home.scss */
#wrap .toolchest .tool:nth-child(5) p span {
  -webkit-transform: rotate(-160deg);
          transform: rotate(-160deg);
}
/* line 105, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/style-home.scss */
#wrap .toolchest .tool:nth-child(6) {
  -webkit-transform: rotate(200deg);
          transform: rotate(200deg);
}
/* line 107, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/style-home.scss */
#wrap .toolchest .tool:nth-child(6) p span {
  -webkit-transform: rotate(-200deg);
          transform: rotate(-200deg);
}
/* line 105, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/style-home.scss */
#wrap .toolchest .tool:nth-child(7) {
  -webkit-transform: rotate(240deg);
          transform: rotate(240deg);
}
/* line 107, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/style-home.scss */
#wrap .toolchest .tool:nth-child(7) p span {
  -webkit-transform: rotate(-240deg);
          transform: rotate(-240deg);
}
/* line 105, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/style-home.scss */
#wrap .toolchest .tool:nth-child(8) {
  -webkit-transform: rotate(280deg);
          transform: rotate(280deg);
}
/* line 107, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/style-home.scss */
#wrap .toolchest .tool:nth-child(8) p span {
  -webkit-transform: rotate(-280deg);
          transform: rotate(-280deg);
}
/* line 105, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/style-home.scss */
#wrap .toolchest .tool:nth-child(9) {
  -webkit-transform: rotate(320deg);
          transform: rotate(320deg);
}
/* line 107, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/style-home.scss */
#wrap .toolchest .tool:nth-child(9) p span {
  -webkit-transform: rotate(-320deg);
          transform: rotate(-320deg);
}
/* line 114, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/style-home.scss */
#wrap .plate {
  position: absolute;
  border-radius: 50%;
  left: 105px;
  top: 105px;
  width: 500px;
  height: 500px;
}
/* line 121, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/style-home.scss */
#wrap .wedge {
  pointer-events: none;
  opacity: 0;
  -webkit-transition: all 0.75s cubic-bezier(0, 0.62, 0.38, 1);
  transition: all 0.75s cubic-bezier(0, 0.62, 0.38, 1);
  border: 0px solid transparent;
  position: absolute;
  left: 105px;
  top: 105px;
  width: 500px;
  height: 500px;
  -webkit-transform-origin: 250px 250px;
          transform-origin: 250px 250px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}
/* line 132, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/style-home.scss */
#wrap .wedge svg {
  position: absolute;
  left: 0;
  top: 0;
  width: 500px;
  height: 500px;
}
/* line 137, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/style-home.scss */
#wrap .wedge svg path {
  pointer-events: visible;
}
/* line 141, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/style-home.scss */
#wrap .wedge i {
  color: #fff;
  position: absolute;
  opacity: .8;
  font-size: 42px;
  left: 0;
  top: 25px;
  width: 100%;
  text-align: center;
}
/* line 153, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/style-home.scss */
#wrap .wedge:nth-child(4) svg path {
  fill: rgba(167, 136, 116, 0.6);
  stroke: rgba(246, 228, 216, 0.6);
}
/* line 158, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/style-home.scss */
#wrap .wedge:nth-child(4):hover svg path {
  fill: rgba(103, 69, 46, 0.6);
}
/* line 153, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/style-home.scss */
#wrap .wedge:nth-child(5) svg path {
  fill: rgba(167, 116, 116, 0.6);
  stroke: rgba(246, 216, 216, 0.6);
}
/* line 158, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/style-home.scss */
#wrap .wedge:nth-child(5):hover svg path {
  fill: rgba(103, 46, 46, 0.6);
}
/* line 153, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/style-home.scss */
#wrap .wedge:nth-child(6) svg path {
  fill: rgba(139, 96, 117, 0.6);
  stroke: rgba(205, 180, 192, 0.6);
}
/* line 158, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/style-home.scss */
#wrap .wedge:nth-child(6):hover svg path {
  fill: rgba(86, 38, 61, 0.6);
}
/* line 153, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/style-home.scss */
#wrap .wedge:nth-child(7) svg path {
  fill: rgba(99, 79, 112, 0.6);
  stroke: rgba(157, 145, 164, 0.6);
}
/* line 158, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/style-home.scss */
#wrap .wedge:nth-child(7):hover svg path {
  fill: rgba(55, 33, 69, 0.6);
}
/* line 153, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/style-home.scss */
#wrap .wedge:nth-child(8) svg path {
  fill: rgba(85, 87, 116, 0.6);
  stroke: rgba(153, 154, 171, 0.6);
}
/* line 158, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/style-home.scss */
#wrap .wedge:nth-child(8):hover svg path {
  fill: rgba(38, 39, 71, 0.6);
}
/* line 153, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/style-home.scss */
#wrap .wedge:nth-child(9) svg path {
  fill: rgba(72, 104, 100, 0.6);
  stroke: rgba(134, 153, 151, 0.6);
}
/* line 158, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/style-home.scss */
#wrap .wedge:nth-child(9):hover svg path {
  fill: rgba(29, 64, 60, 0.6);
}
/* line 153, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/style-home.scss */
#wrap .wedge:nth-child(10) svg path {
  fill: rgba(112, 143, 99, 0.6);
  stroke: rgba(193, 211, 185, 0.6);
}
/* line 158, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/style-home.scss */
#wrap .wedge:nth-child(10):hover svg path {
  fill: rgba(54, 88, 39, 0.6);
}
/* line 153, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/style-home.scss */
#wrap .wedge:nth-child(11) svg path {
  fill: rgba(146, 158, 110, 0.6);
  stroke: rgba(226, 233, 205, 0.6);
}
/* line 158, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/style-home.scss */
#wrap .wedge:nth-child(11):hover svg path {
  fill: rgba(84, 97, 44, 0.6);
}
/* line 153, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/style-home.scss */
#wrap .wedge:nth-child(12) svg path {
  fill: rgba(167, 165, 116, 0.6);
  stroke: rgba(246, 244, 216, 0.6);
}
/* line 158, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/style-home.scss */
#wrap .wedge:nth-child(12):hover svg path {
  fill: rgba(103, 101, 46, 0.6);
}
/* line 165, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/style-home.scss */
#wrap .wedge:hover i {
  opacity: 1;
}
/* line 170, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/style-home.scss */
#wrap input {
  display: none;
}
/* line 172, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/style-home.scss */
#wrap input:checked ~ .wedge {
  opacity: 1;
}
/* line 175, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/style-home.scss */
#wrap input:checked ~ .wedge:nth-child(4) {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}
/* line 177, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/style-home.scss */
#wrap input:checked ~ .wedge:nth-child(4) i {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}
/* line 175, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/style-home.scss */
#wrap input:checked ~ .wedge:nth-child(5) {
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}
/* line 177, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/style-home.scss */
#wrap input:checked ~ .wedge:nth-child(5) i {
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
}
/* line 175, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/style-home.scss */
#wrap input:checked ~ .wedge:nth-child(6) {
  -webkit-transform: rotate(80deg);
          transform: rotate(80deg);
}
/* line 177, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/style-home.scss */
#wrap input:checked ~ .wedge:nth-child(6) i {
  -webkit-transform: rotate(-80deg);
          transform: rotate(-80deg);
}
/* line 175, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/style-home.scss */
#wrap input:checked ~ .wedge:nth-child(7) {
  -webkit-transform: rotate(120deg);
          transform: rotate(120deg);
}
/* line 177, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/style-home.scss */
#wrap input:checked ~ .wedge:nth-child(7) i {
  -webkit-transform: rotate(-120deg);
          transform: rotate(-120deg);
}
/* line 175, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/style-home.scss */
#wrap input:checked ~ .wedge:nth-child(8) {
  -webkit-transform: rotate(160deg);
          transform: rotate(160deg);
}
/* line 177, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/style-home.scss */
#wrap input:checked ~ .wedge:nth-child(8) i {
  -webkit-transform: rotate(-160deg);
          transform: rotate(-160deg);
}
/* line 175, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/style-home.scss */
#wrap input:checked ~ .wedge:nth-child(9) {
  -webkit-transform: rotate(200deg);
          transform: rotate(200deg);
}
/* line 177, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/style-home.scss */
#wrap input:checked ~ .wedge:nth-child(9) i {
  -webkit-transform: rotate(-200deg);
          transform: rotate(-200deg);
}
/* line 175, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/style-home.scss */
#wrap input:checked ~ .wedge:nth-child(10) {
  -webkit-transform: rotate(240deg);
          transform: rotate(240deg);
}
/* line 177, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/style-home.scss */
#wrap input:checked ~ .wedge:nth-child(10) i {
  -webkit-transform: rotate(-240deg);
          transform: rotate(-240deg);
}
/* line 175, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/style-home.scss */
#wrap input:checked ~ .wedge:nth-child(11) {
  -webkit-transform: rotate(280deg);
          transform: rotate(280deg);
}
/* line 177, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/style-home.scss */
#wrap input:checked ~ .wedge:nth-child(11) i {
  -webkit-transform: rotate(-280deg);
          transform: rotate(-280deg);
}
/* line 175, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/style-home.scss */
#wrap input:checked ~ .wedge:nth-child(12) {
  -webkit-transform: rotate(320deg);
          transform: rotate(320deg);
}
/* line 177, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/style-home.scss */
#wrap input:checked ~ .wedge:nth-child(12) i {
  -webkit-transform: rotate(-320deg);
          transform: rotate(-320deg);
}
/* line 184, /home/ubuntu/rails-apps/OHAlpha/one-wolf/tsume/rails-5.0/One-Wolf.com/app/assets/stylesheets/style-home.scss */
#wrap input:checked ~ .dot #svglogo {
  -webkit-transform: rotate(720deg);
          transform: rotate(720deg);
}