<main>
  <heading>
    <h1>One-Wolf.com</h1>
  </heading>
  <section>
    <heading>
      <h2>About Me</h2>
    </heading>
    <blockquote>L. Nugent Gibson, inveterate programmer, aspiring Renaissance man, student of life.</blockquote>
    <p>I am Nugent Gibson, although you will probably hear me being referred to as Lloyd.  I am a 27-year-old graduate of Software Engineering from Florida Gulf Coast University and am currently employed as an Application Developer.  I am the child of two great and learned factotums and have likewise developed myriad skills and interest.  Though I have tended toward dilettantism, I aspire to pansophy.  It is and has always been of my chifest goals in life.  To contain the vast library of man’s knowledge in one being has been the object of my many pursuits. Alas, I must put away my delusions of grandeur, however, to compile the grandest compendium of knowledge is my more attainable endeavour.</p>
    <p>I dedicated much of my time in college, both at FGCU and at my first college, Broward College, in the university library.  I remember my amazement at first experiencing the vast anthologies, the abundance of essays and journals and magazines and articles and reports and novels etc.  It was more information at my fingertips than I had ever imagined.  Since graduating, I have come to greatly miss the access to knowledge.  There is a great wealth of information available to privileged individuals.  Those who pay for subscriptions to online magazines.  Those who purchase books.  Those who enroll in universities (and pay tuition).  But of course there is also information available to the rest of us, those with the patience and diligence to scale the mountains of data on the internet, sift through the limitless fallacious filth.</p>
    <p>I started this collection of blogs to collect and catalog the plethora of information I have gathered and am gathering.  This bricolage of facts is my push towards freedom of knowledge.</p>
  </section>
  <!--section>
    <heading>
      <h2>About This Site</h2>
    </heading>
    <p>This site is</p>
  </section-->
</main>