.background-alpha-0 {
  background-color: #a78874; }

.color-alpha-0 {
  color: #a78874; }

.background-alpha-1 {
  background-color: #f6e4d8; }

.color-alpha-0 {
  color: #f6e4d8; }

.background-alpha-2 {
  background-color: #cab09e; }

.color-alpha-0 {
  color: #cab09e; }

.background-alpha-3 {
  background-color: #836551; }

.color-alpha-0 {
  color: #836551; }

.background-alpha-4 {
  background-color: #67452e; }

.color-alpha-0 {
  color: #67452e; }

.background-beta-0 {
  background-color: #a77474; }

.color-alpha-0 {
  color: #a77474; }

.background-beta-1 {
  background-color: #f6d8d8; }

.color-alpha-0 {
  color: #f6d8d8; }

.background-beta-2 {
  background-color: #ca9e9e; }

.color-alpha-0 {
  color: #ca9e9e; }

.background-beta-3 {
  background-color: #835151; }

.color-alpha-0 {
  color: #835151; }

.background-beta-4 {
  background-color: #672e2e; }

.color-alpha-0 {
  color: #672e2e; }

.background-gamma-0 {
  background-color: #8b6075; }

.color-alpha-0 {
  color: #8b6075; }

.background-gamma-1 {
  background-color: #cdb4c0; }

.color-alpha-0 {
  color: #cdb4c0; }

.background-gamma-2 {
  background-color: #a88495; }

.color-alpha-0 {
  color: #a88495; }

.background-gamma-3 {
  background-color: #6d4457; }

.color-alpha-0 {
  color: #6d4457; }

.background-gamma-4 {
  background-color: #56263d; }

.color-alpha-0 {
  color: #56263d; }

.background-delta-0 {
  background-color: #634f70; }

.color-alpha-0 {
  color: #634f70; }

.background-delta-1 {
  background-color: #9d91a4; }

.color-alpha-0 {
  color: #9d91a4; }

.background-delta-2 {
  background-color: #7c6c87; }

.color-alpha-0 {
  color: #7c6c87; }

.background-delta-3 {
  background-color: #4b3858; }

.color-alpha-0 {
  color: #4b3858; }

.background-delta-4 {
  background-color: #372145; }

.color-alpha-0 {
  color: #372145; }

.background-epsilon-0 {
  background-color: #555774; }

.color-alpha-0 {
  color: #555774; }

.background-epsilon-1 {
  background-color: #999aab; }

.color-alpha-0 {
  color: #999aab; }

.background-epsilon-2 {
  background-color: #72748c; }

.color-alpha-0 {
  color: #72748c; }

.background-epsilon-3 {
  background-color: #3d3f5b; }

.color-alpha-0 {
  color: #3d3f5b; }

.background-epsilon-4 {
  background-color: #262747; }

.color-alpha-0 {
  color: #262747; }

.background-zeta-0 {
  background-color: #486864; }

.color-alpha-0 {
  color: #486864; }

.background-zeta-1 {
  background-color: #869997; }

.color-alpha-0 {
  color: #869997; }

.background-zeta-2 {
  background-color: #627d7a; }

.color-alpha-0 {
  color: #627d7a; }

.background-zeta-3 {
  background-color: #32514e; }

.color-alpha-0 {
  color: #32514e; }

.background-zeta-4 {
  background-color: #1d403c; }

.color-alpha-0 {
  color: #1d403c; }

.background-eta-0 {
  background-color: #708f63; }

.color-alpha-0 {
  color: #708f63; }

.background-eta-1 {
  background-color: #c1d3b9; }

.color-alpha-0 {
  color: #c1d3b9; }

.background-eta-2 {
  background-color: #93ad88; }

.color-alpha-0 {
  color: #93ad88; }

.background-eta-3 {
  background-color: #527146; }

.color-alpha-0 {
  color: #527146; }

.background-eta-4 {
  background-color: #365827; }

.color-alpha-0 {
  color: #365827; }

.background-theta-0 {
  background-color: #929e6e; }

.color-alpha-0 {
  color: #929e6e; }

.background-theta-1 {
  background-color: #e2e9cd; }

.color-alpha-0 {
  color: #e2e9cd; }

.background-theta-2 {
  background-color: #b5bf96; }

.color-alpha-0 {
  color: #b5bf96; }

.background-theta-3 {
  background-color: #707c4d; }

.color-alpha-0 {
  color: #707c4d; }

.background-theta-4 {
  background-color: #54612c; }

.color-alpha-0 {
  color: #54612c; }

.background-iota-0 {
  background-color: #a7a574; }

.color-alpha-0 {
  color: #a7a574; }

.background-iota-1 {
  background-color: #f6f4d8; }

.color-alpha-0 {
  color: #f6f4d8; }

.background-iota-2 {
  background-color: #cac89e; }

.color-alpha-0 {
  color: #cac89e; }

.background-iota-3 {
  background-color: #838151; }

.color-alpha-0 {
  color: #838151; }

.background-iota-4 {
  background-color: #67652e; }

.color-alpha-0 {
  color: #67652e; }
