@import 'rainbow-palette.one-wolf';
.background-alpha-0 {
    background-color: $theme-col-alpha-0;
}
.color-alpha-0 {
    color: $theme-col-alpha-0;
}
.background-alpha-1 {
    background-color: $theme-col-alpha-1;
}
.color-alpha-0 {
    color: $theme-col-alpha-1;
}
.background-alpha-2 {
    background-color: $theme-col-alpha-2;
}
.color-alpha-0 {
    color: $theme-col-alpha-2;
}
.background-alpha-3 {
    background-color: $theme-col-alpha-3;
}
.color-alpha-0 {
    color: $theme-col-alpha-3;
}
.background-alpha-4 {
    background-color: $theme-col-alpha-4;
}
.color-alpha-0 {
    color: $theme-col-alpha-4;
}
.background-beta-0 {
    background-color: $theme-col-beta-0;
}
.color-alpha-0 {
    color: $theme-col-beta-0;
}
.background-beta-1 {
    background-color: $theme-col-beta-1;
}
.color-alpha-0 {
    color: $theme-col-beta-1;
}
.background-beta-2 {
    background-color: $theme-col-beta-2;
}
.color-alpha-0 {
    color: $theme-col-beta-2;
}
.background-beta-3 {
    background-color: $theme-col-beta-3;
}
.color-alpha-0 {
    color: $theme-col-beta-3;
}
.background-beta-4 {
    background-color: $theme-col-beta-4;
}
.color-alpha-0 {
    color: $theme-col-beta-4;
}
.background-gamma-0 {
    background-color: $theme-col-gamma-0;
}
.color-alpha-0 {
    color: $theme-col-gamma-0;
}
.background-gamma-1 {
    background-color: $theme-col-gamma-1;
}
.color-alpha-0 {
    color: $theme-col-gamma-1;
}
.background-gamma-2 {
    background-color: $theme-col-gamma-2;
}
.color-alpha-0 {
    color: $theme-col-gamma-2;
}
.background-gamma-3 {
    background-color: $theme-col-gamma-3;
}
.color-alpha-0 {
    color: $theme-col-gamma-3;
}
.background-gamma-4 {
    background-color: $theme-col-gamma-4;
}
.color-alpha-0 {
    color: $theme-col-gamma-4;
}
.background-delta-0 {
    background-color: $theme-col-delta-0;
}
.color-alpha-0 {
    color: $theme-col-delta-0;
}
.background-delta-1 {
    background-color: $theme-col-delta-1;
}
.color-alpha-0 {
    color: $theme-col-delta-1;
}
.background-delta-2 {
    background-color: $theme-col-delta-2;
}
.color-alpha-0 {
    color: $theme-col-delta-2;
}
.background-delta-3 {
    background-color: $theme-col-delta-3;
}
.color-alpha-0 {
    color: $theme-col-delta-3;
}
.background-delta-4 {
    background-color: $theme-col-delta-4;
}
.color-alpha-0 {
    color: $theme-col-delta-4;
}
.background-epsilon-0 {
    background-color: $theme-col-epsilon-0;
}
.color-alpha-0 {
    color: $theme-col-epsilon-0;
}
.background-epsilon-1 {
    background-color: $theme-col-epsilon-1;
}
.color-alpha-0 {
    color: $theme-col-epsilon-1;
}
.background-epsilon-2 {
    background-color: $theme-col-epsilon-2;
}
.color-alpha-0 {
    color: $theme-col-epsilon-2;
}
.background-epsilon-3 {
    background-color: $theme-col-epsilon-3;
}
.color-alpha-0 {
    color: $theme-col-epsilon-3;
}
.background-epsilon-4 {
    background-color: $theme-col-epsilon-4;
}
.color-alpha-0 {
    color: $theme-col-epsilon-4;
}
.background-zeta-0 {
    background-color: $theme-col-zeta-0;
}
.color-alpha-0 {
    color: $theme-col-zeta-0;
}
.background-zeta-1 {
    background-color: $theme-col-zeta-1;
}
.color-alpha-0 {
    color: $theme-col-zeta-1;
}
.background-zeta-2 {
    background-color: $theme-col-zeta-2;
}
.color-alpha-0 {
    color: $theme-col-zeta-2;
}
.background-zeta-3 {
    background-color: $theme-col-zeta-3;
}
.color-alpha-0 {
    color: $theme-col-zeta-3;
}
.background-zeta-4 {
    background-color: $theme-col-zeta-4;
}
.color-alpha-0 {
    color: $theme-col-zeta-4;
}
.background-eta-0 {
    background-color: $theme-col-eta-0;
}
.color-alpha-0 {
    color: $theme-col-eta-0;
}
.background-eta-1 {
    background-color: $theme-col-eta-1;
}
.color-alpha-0 {
    color: $theme-col-eta-1;
}
.background-eta-2 {
    background-color: $theme-col-eta-2;
}
.color-alpha-0 {
    color: $theme-col-eta-2;
}
.background-eta-3 {
    background-color: $theme-col-eta-3;
}
.color-alpha-0 {
    color: $theme-col-eta-3;
}
.background-eta-4 {
    background-color: $theme-col-eta-4;
}
.color-alpha-0 {
    color: $theme-col-eta-4;
}
.background-theta-0 {
    background-color: $theme-col-theta-0;
}
.color-alpha-0 {
    color: $theme-col-theta-0;
}
.background-theta-1 {
    background-color: $theme-col-theta-1;
}
.color-alpha-0 {
    color: $theme-col-theta-1;
}
.background-theta-2 {
    background-color: $theme-col-theta-2;
}
.color-alpha-0 {
    color: $theme-col-theta-2;
}
.background-theta-3 {
    background-color: $theme-col-theta-3;
}
.color-alpha-0 {
    color: $theme-col-theta-3;
}
.background-theta-4 {
    background-color: $theme-col-theta-4;
}
.color-alpha-0 {
    color: $theme-col-theta-4;
}
.background-iota-0 {
    background-color: $theme-col-iota-0;
}
.color-alpha-0 {
    color: $theme-col-iota-0;
}
.background-iota-1 {
    background-color: $theme-col-iota-1;
}
.color-alpha-0 {
    color: $theme-col-iota-1;
}
.background-iota-2 {
    background-color: $theme-col-iota-2;
}
.color-alpha-0 {
    color: $theme-col-iota-2;
}
.background-iota-3 {
    background-color: $theme-col-iota-3;
}
.color-alpha-0 {
    color: $theme-col-iota-3;
}
.background-iota-4 {
    background-color: $theme-col-iota-4;
}
.color-alpha-0 {
    color: $theme-col-iota-4;
}
