$rgba-alpha-0: rgba(167, 136, 116, 1);
$rgba-alpha-1: rgba(246, 228, 216, 1);
$rgba-alpha-2: rgba(202, 176, 158, 1);
$rgba-alpha-3: rgba(131, 101, 81, 1);
$rgba-alpha-4: rgba(103, 69, 46, 1);
$rgba-beta-0: rgba(167, 116, 116, 1);
$rgba-beta-1: rgba(246, 216, 216, 1);
$rgba-beta-2: rgba(202, 158, 158, 1);
$rgba-beta-4: rgba(103, 46, 46, 1);
$rgba-beta-3: rgba(131, 81, 81, 1);
$rgba-gamma-0: rgba(139, 96, 117, 1);
$rgba-gamma-1: rgba(205, 180, 192, 1);
$rgba-gamma-2: rgba(168, 132, 149, 1);
$rgba-gamma-3: rgba(109, 68, 87, 1);
$rgba-gamma-4: rgba( 86, 38, 61, 1);
$rgba-delta-0: rgba( 99, 79, 112, 1);
$rgba-delta-1: rgba(157, 145, 164, 1);
$rgba-delta-2: rgba(124, 108, 135, 1);
$rgba-delta-3: rgba( 75, 56, 88, 1);
$rgba-delta-4: rgba( 55, 33, 69, 1);
$rgba-epsilon-0: rgba( 85, 87, 116, 1);
$rgba-epsilon-1: rgba(153, 154, 171, 1);
$rgba-epsilon-2: rgba(114, 116, 140, 1);
$rgba-epsilon-3: rgba( 61, 63, 91, 1);
$rgba-epsilon-4: rgba( 38, 39, 71, 1);
$rgba-zeta-0: rgba( 72, 104, 100, 1);
$rgba-zeta-1: rgba(134, 153, 151, 1);
$rgba-zeta-2: rgba( 98, 125, 122, 1);
$rgba-zeta-3: rgba( 50, 81, 78, 1);
$rgba-zeta-4: rgba( 29, 64, 60, 1);
$rgba-eta-0: rgba(112, 143, 99, 1);
$rgba-eta-1: rgba(193, 211, 185, 1);
$rgba-eta-2: rgba(147, 173, 136, 1);
$rgba-eta-3: rgba( 82, 113, 70, 1);
$rgba-eta-4: rgba( 54, 88, 39, 1);
$rgba-theta-0: rgba(146, 158, 110, 1);
$rgba-theta-1: rgba(226, 233, 205, 1);
$rgba-theta-2: rgba(181, 191, 150, 1);
$rgba-theta-3: rgba(112, 124, 77, 1);
$rgba-theta-4: rgba( 84, 97, 44, 1);
$rgba-iota-0: rgba(167, 165, 116, 1);
$rgba-iota-1: rgba(246, 244, 216, 1);
$rgba-iota-2: rgba(202, 200, 158, 1);
$rgba-iota-3: rgba(131, 129, 81, 1);
$rgba-iota-4: rgba(103, 101, 46, 1);